# Build directories
build/
.cache/
tests/build/
tests/.cache/

# Compilation database
compile_commands.json
tests/compile_commands.json

*.bin
*.o

# Binary and object files
main
tests/test

# Logs
cpu_log.txt

# Editor / Tooling configs
.vscode/
.clang-format

# Git internals
.git/
