# Build directories
build/
.cache/
tests/build/
tests/.cache/

# Compilation database
compile_commands.json
tests/compile_commands.json

# Binary and object files
*.o
*.bin
main
tests/test

# Firmware files
*.asm
*.o
*.bin
*.cfg
firmware/build.sh

# Logs
cpu_log.txt

# Editor / Tooling configs
.vscode/
.clang-format

# Git internals
.git/
